.m1 {
  margin-left: 0.5rem;
}

.mt0 {
    margin: 0;
}

.f200 {
  width: 300px;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.picon {
  margin-right: .5rem;
  width: 20px;
  height: 20px;
}
// .login-form {
//   max-width: 300px;
// }
// .login-form-forgot {
//   float: right;
// }
// .login-form-button {
//   width: 100%;
// }
